__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
.venv/
venv/
env/
build/
dist/
.ipynb_checkpoints/
.DS_Store
Thumbs.db

data/
datasets/
*.csv
*.parquet


artifacts/serialized_objects/*
!artifacts/serialized_objects/*.pkl
